/* You can add global styles to this file, and also import other style files */

/*
test for encapsulation : ViewEncapsulation.Native //native isolated dom
@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  font-size: 26px;
  padding: 20px;
}*/

span {
  color: orange;
}
